body {
    background-color: #f8f9fa; /* Jasne tło */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Pełna wysokość widoku */
    margin: 0;
}

.container {
    width: 100%;
    max-width: 600px; /* Maksymalna szerokość dla responsywności */
}

.card {
    background-color: rgba(255, 255, 255, 0.9); /* Białe tło z przezroczystością */
    border-radius: 15px; /* Zaokrąglone rogi */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Cień dla efektu wypukłości */
}

.card-title {
    margin-bottom: 20px;
    font-size: 2rem;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 10px; /* Zaokrąglone rogi pola wyszukiwania */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); /* Cień wewnętrzny dla pola */
}

.btn {
    border-radius: 10px; /* Zaokrąglone rogi przycisku */
    padding: 10px;
    font-size: 1rem;
}
